
    <!--Navigation & Intro-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i></button>

            <div class="container">

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx">
                    <!--Navbar Brand-->
                   <!--  <a class="navbar-brand" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Chris Lintecum</a> -->
                    <!--Links-->
                    <ul class="nav navbar-nav smooth-scroll extra-mg">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">CHRIS LINTECUM <span class="sr-only">(current)</span></a>
                        </li>
                    
                       
                    </ul>

                    <!--Navbar icons-->
                  <!--   <ul id="social-media-links" class="nav navbar-nav nav-flex-icons">

                        <li class="nav-item wow fadeInRight" data-wow-delay="0.2s">
                            <a class="nav-link" href="https://twitter.com/hakcsalot"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item wow fadeInRight" data-wow-delay="0.3s">
                            <a class="nav-link"><i class="fa fa-github"></i></a>
                        </li>
                        <li class="nav-item wow fadeInRight" data-wow-delay="0.2s">
                            <a class="nav-link" href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="nav-item wow fadeInRight" data-wow-delay="0.2s">
                            <a class="nav-link" href=""><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item wow fadeInRight" data-wow-delay="0.2s">
                            <a class="nav-link" href=""><i class="fa fa-google-plus"></i></a>
                        </li>
                        

                    </ul>
 -->
                </div>
                <!--/.Collapse content-->

            </div>

        </nav>
        <!--/.Navbar-->

        <!--Mask-->
        <div class="view hm-black-light view-1">
            <div class="full-bg-img flex-center">
                <div class="container">
                    <div class="row" id="home">

                        <!--First column-->
                        <div class="col-lg-6">
                            <div class="description">
                        <!--         <h2 id="chris-header" class="h2-responsive wow fadeInLeft">Chris Lintecum</h2> -->
                                <!-- <hr class="hr-light wow fadeInLeft"> -->
                              
                                <!-- <hr class="hr-light wow fadeInLeft"> -->
                                <!-- <p class="wow fadeInLeft" data-wow-delay="0.4s">Lol</p> -->
                                <br>
                                <!-- <a class="btn btn-white-outline btn-lg wow fadeInLeft" data-wow-delay="0.7s">Learn more</a> -->
                            </div>
                        </div>
                        <!--/.First column-->

                        <!--Second column-->
                        
                        <!--/Second column-->
                    </div>
                </div>
            </div>
        </div>
        <!--/.Mask-->

    </header>

    <main class="margin-top">
        <div class="container">
            <section class="section text-xs-center" id="examples-of-use">
                <div class="empty-space"></div>
                <br>
                <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Portfolio</h1>
                <br><br>
                <div class="row">
                    <div class="col-md-6 m-b-r wow fadeInLeft">
                        <div class="view overlay hm-white-slight z-depth-2">
                            <img class="img-set-max" src="modules/core/client/img/adobe/as1.jpeg">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="card-block">
                            <h3><a href="https://getonlinekc.org">Digital Inclusion</a></h3>
                            <p>Local map of resources to help bridge the digital divide</p>
                            <a class="btn btn-secondary"><i class="fa fa-clone left"></i> View Repository</a>
                        </div>
                    </div>
                    <div class="col-md-6 m-b-r wow fadeInRight">
                        <div class="view overlay hm-white-slight z-depth-2">
                            <img class="img-set-max" src="modules/core/client/img/adobe/abstraction.jpeg">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="card-block">
                            <h3><a id="" href="http://undertheradar.io">Under the Radar</a></h3>
                            <p>Tutorials and conversation about technology and code</p>
                            <a class="btn btn-secondary"><i class="fa fa-clone left"></i> Visit Blog</a>
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br><br><br><br><br><br>
        </div>
    </main>

    <section class="border-boxed">
        <!-- <div class="container"> -->
         <div class="view hm-black-light view-2">
                <div class="full-bg-img flex-center">
                    <!-- <div class="container"> -->
                        <div class="row" id="home">

                            <!--First column-->
                            <div class="col-lg-6">
                                <div class="description">
                            <!--         <h2 id="chris-header" class="h2-responsive wow fadeInLeft">Chris Lintecum</h2> -->
                                    <!-- <hr class="hr-light wow fadeInLeft"> -->
                                  
                                    <!-- <hr class="hr-light wow fadeInLeft"> -->
                                    <!-- <p class="wow fadeInLeft" data-wow-delay="0.4s">Lol</p> -->
                                    <br>
                                    <!-- <a class="btn btn-white-outline btn-lg wow fadeInLeft" data-wow-delay="0.7s">Learn more</a> -->
                                </div>
                            </div>
                            <!--/.First column-->

                            <!--Second column-->
                            
                            <!--/Second column-->
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        <!-- </div> -->
     </section>

    <section class="margin-top">
        <div class="container">

           

           <br><br><br><br><br><br>
            
            <!--Section: Team v.2-->
            <section id="about" class="section team-section" id="our-team"> 
                <br><br>
                <!--Section heading-->

                <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">About Me</h1>
                <!--Section description-->
                <p class="section-description wow fadeIn" data-wow-delay="0.4s">I am an entrepreneurially driven full-stack developer who specializes in building web-based software solutions for clients with JavaScript, Ruby or whatever else fits the bill.  My passion for code stems as much from my mind's random curiosity and preference for Cartesian rationality as it does from a lifelong fascination with the Internet as the most profound force driving economic and social change in today's world.  I love my family, cinema, the states of Kansas and Missouri, and red and blue heelers.</p>
                <br><br>

                <div id="about-me-content" class="row text-xs-center">

                    <!--First column-->
                    <div class="col-md-4 m-b-r wow fadeIn" data-wow-delay="0.3s">
                      

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div id="about-content-details" class="col-md-4 m-b-r wow fadeIn" data-wow-delay="0.4s">
                        <span id="hack-up">
                            <div class="avatar">
                                <img id="img-self" src="modules/core/client/img/self.jpg">
                            </div>
                            <br>
                            <span id="text">
                            <h4>Chris Lintecum</h4>
                            <h5>Full-Stack Developer<br>Amateur Historian</h5>
                            </span>

                 
                       <!--  <a type="button" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"></i></a>
                      
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                       
                        <a type="button" class="btn-floating btn-small btn-git"><i class="fa fa-github"></i></a> -->
                        </span>

                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 m-b-r wow fadeIn" data-wow-delay="0.5s">
                       

                    </div>
                    <!--/Third column-->
                </div>

            </section>
            <br><br>
  
            </div>
            <br><br><br><br>
            </section>

            <section class="border-boxed">
        <!-- <div class="container"> -->
         <div class="view hm-black-light view-3">
                <div class="full-bg-img flex-center">
                    <!-- <div class="container"> -->
                        <div class="row" id="home">

                            <!--First column-->
                            <div class="col-lg-6">
                                <div class="description">
                            <!--         <h2 id="chris-header" class="h2-responsive wow fadeInLeft">Chris Lintecum</h2> -->
                                    <!-- <hr class="hr-light wow fadeInLeft"> -->
                                  
                                    <!-- <hr class="hr-light wow fadeInLeft"> -->
                                    <!-- <p class="wow fadeInLeft" data-wow-delay="0.4s">Lol</p> -->
                                    <br>
                                    <!-- <a class="btn btn-white-outline btn-lg wow fadeInLeft" data-wow-delay="0.7s">Learn more</a> -->
                                </div>
                            </div>
                            <!--/.First column-->

                            <!--Second column-->
                            
                            <!--/Second column-->
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        <!-- </div> -->
     </section>

     <section>
        <div class="container">
             

            <!--Section: Contact v.1-->
            <section class="section m-b-4" id="contact">

                <!--Section heading-->
                <br><br><br><br><br><br><br><br><br>
                <h1 id="h1-contact" class="section-heading wow fadeIn" data-wow-delay="0.2s">Are you looking for<br> a coder who<br>can do full-stack?</h1>
                <br>
                <!--Section description-->
                <!-- <p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.4s">ide</p> -->

                <div class="row">
                    <div class="col-md-3"></div>
                    <!--First column-->
                    <div class="col-md-5 wow fadeInRight">

                        <!--Form with header-->
                        <div class="card">

                            <div class="card-block">
                                <!--Header-->
                                <div class="form-header indigo">
                                    <h3><i class="fa fa-envelope"></i> Get in touch:</h3>
                                </div>

                                <p>Let me know how I can help you with your next website or coding project:</p>
                                <br>

                                <!--Body-->
                                <div class="md-form">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="form3" class="form-control">
                                    <label for="form3">Your name</label>
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-tag prefix"></i>
                                    <input type="text" id="form32" class="form-control">
                                    <label for="form32">Subject</label>
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea type="text" id="form8" class="md-textarea"></textarea>
                                    <label for="form8">Your message</label>
                                </div>

                                <div class="text-xs-center">
                                    <button id="submit-form" class="btn btn-secondary">Submit</button>
                                </div>

                            </div>

                        </div>
                    </div>

                    </div>
                    </section>
                    <br><br><br><br><br><br><br>
                    </div>
                    </section>


                    <!--/First column-->

                    <!--Second column-->
                    
                    <!--/Second column-->

                </div>

</section>
            <!--/Section: Contact v.1-->
        
        </div>
    <!-- </main> -->
    <!--/Main layout-->
    
    <!--Footer: CTA, Social Media, Additional Info & Links-->
    <footer class="page-footer center-on-small-only">

        <!--Call to action-->
        
        <!--/.Call to action-->


        <!--Social buttons-->
      
        <!--/.Social buttons-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">

                © 2016 Copyright

            </div>
        </div>
        <!--/.Copyright-->

    </footer>