@media (min-width: 1000px) {
	h2#chris-header {

		margin-top: -1em;

		margin-left: 8em;

	}

	span#hack-up {
		position: relative;
		top: -1.25em;
	}
	span#text {
		position: relative;
		top: 24em;
	}
}